* { outline: 0; margin: 0; padding: 0; }

body {
	background-image:url("../images/background.png");
	/*background-image:url("../images/shuimo.jpg");*/
	/*background-size: 100% 100%;*/
	/*background-repeat: no-repeat;*/
	background-color:#DCDCDC;
	/*font-family:"Open Sans", sans-serif;*/
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Slabo 27px', serif;*/
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-size: 100%;
}

header {
	/*background: #696969;*/
	position: fixed;
	height: 100%;
	width: 300px;
	padding: 5em 0 0;
}

header img {
	border-radius: 20px;
	position: static;
	margin-left: 15%;
	width: 70%;
}

header h1 {
	font-size: 150%;
	/*font-family: georgia;*/
	color: orange;
}
nav {
	margin-left: 20%;
}
nav a {
	/*display: block;*/
	/*text-align: center;*/
	/*margin-left: 20%;*/
	/*color: orange;*/
	font-size: 1.5em;
}
h1 {
	/*font-family: "Lucida Gran	de";*/
	color: black;
	font-size: 200%;
	text-align:center;
	
}

h2 {
	/*font-style: italic;*/
}
p#intro {
	/*font-family:courier;*/
}
a {
	/*color: #5284B9;*/
	text-decoration: none;
	color: #5284B9;
}
a:hover {
	color: orange;
}
#elephant {
	width:300px;
	border: 0;
	/*position: fixed;*/
}
table,th,td {
	width:45%;
	border: 1px solid black;
	border-collapse: collapse;
}
th,td {
	padding: 2px;
}
table tr:nth-child(even) {
	background-color: #fff;
}
table tr:nth-child(odd) {
	background-color: #eee;
}
.social-network {
	list-style-type: none;
	padding-left: 20%;
	/*margin-left: 15%;*/
	/*text-align: center;*/
	font-size: 1.5em;
}
.social-network li {
	display: inline;
	/*padding: 20px;*/
	/*border: 1px solid;*/
}
.social-network li a {
	padding-left: 10px;
	/*border: 1px solid;*/
	/*color: black;*/
}
.social-network li a:hover {
	color: orange;
}

section {
	padding-left: 350px;
}