* { outline: 0; margin: 0; padding: 0; }

body {
	background:url("../images/footer_lodyas.png") fixed;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

header {
	position: fixed;
	height: 100%;
	width: 300px;
	padding-top: 4em;
	box-shadow: 0 0 3px #000000;
}

header img {
	display: block;
	border-radius: 100px;
	margin: 0 auto 1em;
	width: 70%;
}

header h1{
	font-size: 150%;
	padding-bottom: 0.3em;
	text-align: center;
}

header h1 a{
	color: #BAB6B6;
}

nav a {
	display: block;
	margin-left: 25%;
	color: #908B8B;
	font-size: 1.2em;
	font-weight: 500;
}

article {
	margin-left: 300px;
	padding: 2em 3em;
	background: url("../images/background.png");
}

a {
	text-decoration: none;
	color: #5284B9;
}

a:hover {
	color: orange;
}

h1 {
	color: #5284B9;
	font-size: 2em;
	margin: 0.5em 0;	
}

h2 {
	font-size: 1.5em;
	margin: 1em 0 0.5em;
}

p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

ul {
	margin-left: 3em;
}

li {
	line-height: 1.5em;
}

table {
	margin-bottom: 2em;
}

table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	padding: 5px 10px;
}


