body {
	background-image:url("../images/background.png");
	background-color:#DCDCDC;
}
h1 {
	color:#7B9CFF;
	font-family:verdana;
	font-size:200%;
	text-align:center;
}
h2 {
	font-style: italic;
}
p#intro {
	font-family:courier;
}
a {
	color: #5284B9;
	text-decoration: none;
}
#elephant {
	width:300px;
	border: 0;
}
table,th,td {
	width:45%;
	border: 1px solid black;
	border-collapse: collapse;
}
th,td {
	padding: 2px;
}
table tr:nth-child(even) {
	background-color: #fff;
}
table tr:nth-child(odd) {
	background-color: #eee;
}
